{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Сокращатор ссылок{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Сокращатор ссылок</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_url' %}">Сократить ссылку</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'url_list' %}">Список ссылок</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-4 content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="text-center">
                © 2024 Сокращатор ссылок <a class="link" href="https://github.com/vompie">Vompie</a>
            </div>
        </footer>
    </div>
</body>
</html>
