{% extends "urls/template.html" %}

{% block title %}Список сокращенных ссылок{% endblock %}

{% block content %}
<h1>Список сокращенных ссылок</h1>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Оригинальная ссылка</th>
                    <th>Короткая ссылка</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>
                        <a href="{{ url.url }}" target="_blank">{{ url.url }}</a>
                    </td>
                    <td>
                        <a href="{{ request.scheme }}://{{ request.get_host }}/s/{{ url.short_url }}" target="_blank">{{ request.scheme }}://{{ request.get_host }}/s/{{ url.short_url }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
