html, body {
    height: 100%;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.custom-img {
    height: 200px; 
    object-fit: cover;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
}


.markdown-content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.markdown-content h1, 
.markdown-content h2, 
.markdown-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.markdown-content p {
    line-height: 1.5;
}
